# This is the list of OSS Python packages that has been approved for usage at Blue Yonder
#
# Please keep this list sorted!
absl-py==0.7.1  # Apache 2 - collection of Python library code for building Python applications
accumulation-tree==0.5  # MIT - Red/black tree with support for fast accumulation of values in a key range. https://github.com/tkluck/accumulation_tree
accumulation-tree==0.6  # MIT - Red/black tree with support for fast accumulation of values in a key range. https://github.com/tkluck/accumulation_tree
aedir==0.0.22 # Apache License - AE-DIR library for Python
aedir==0.0.26 # Apache License - AE-DIR library for Python
aedir==0.0.28 # Apache License - AE-DIR library for Python
aedir==0.1.0 # Apache License - AE-DIR library for Python
aedir==0.1.8 # Apache License - AE-DIR library for Python
aedir==0.3.0 # Apache License - AE-DIR library for Python
